/* default css */
/* 使用box-sizing属性将border、padding和margin都包含在设定的宽度及高度中，节省空间，能够在有限空间内显示更多内容 */
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
/* setting css */
/* 凝胶布局：设置网页内容居中，自动调节margin */
#experience {
  width: 100%;
  margin: 0 auto;
}
/* 将experiment页面的header在index.css的基础上作改变：增加margin-top距离 */
h5.header {
  margin-top: 15px;
}
ul {
  font-size: 16px;
  line-height: 1.6em;
}
ul.tl {
  max-width: 1050px;
  /* 列表内容居中显示 */
  margin: 0 auto;
  padding: 0 0 25px 0;
  /* 使用弹性盒子容器：将元素排列在每一行上 */
  display: flex;
  /* 设置方向：横向行排列 */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
.tl li {
  display: list-item;
  padding: 35px 0;
  position: relative;
  flex-grow: 1;
  flex-basis: auto;
  /* 设置下边框即时间轴样式 */
  border-bottom: 2px solid #d8dac9;
}
ul li.description {
  max-width: 172px;
  /* 处理padding内边距：可以使背景样式同步拓展 */
  padding: 0 15px 30px 15px;
}
p.text span.time {
  background: #ebebd2 url(../images/common/time-bg.jpg);
  width: 85px;
  padding: 2px 6px;
  margin: 0 auto;
  /* 绝对定位：设计时间轴上的时间样式 */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  /* z-index使时间元素靠近浏览者显示 */
  z-index: 9;
  color: #767a4199;
  /* 给时间设置特殊的字体css */
  font: 600 0.9em "pt-sans",sans-serif;
  border: 2px solid #caccbe;
  text-align: center;
}
